body {
    background-image: url("font.jpg");
    background-size: cover;
    font-family: arial, sans-serif;
    color: rgb(12, 12, 61);  
    }

    .weather-app {
    max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid #142d4e;
  border-radius: 5px;
  background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);
  opacity: 0.8;
    }

.container {
    max-width: 100%;
   
    
    
}

.today-weather {
    margin-top: 40px;
    text-align: center;
}

.weather-forecast {
    margin: 40px 0;
    text-align: center;
}

.today-weather-city {
    font-weight: 700;
}


.today-weather-temperature {
    font-weight: 700;
}

.today-weather-description {
    margin-bottom: 0;
}

small {
    font-size: 70%;
    font-weight: 400;
}