body {
    
    font-family: arial, sans-serif;
    color: rgb(12, 12, 61);  
    }

    .weather-app {
        max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid #142d4e;
  border-radius: 5px;
  background: radial-gradient(circle at 10% 20%, rgb(137, 210, 253) 0%, rgb(255, 241, 188) 90%);
    }

.container {
    max-width: 100%;
   
    
    
}

.today-weather {
    margin: 40px;
    text-align: center;
}

.week-weather {
    margin: 40px;
    text-align: center;
}

.today-weather-city {
    color: yellow
}

.today-weather-temperature {
    color: rgb(10, 139, 238);
}

small {
    font-size: 70%;
    font-weight: 400;
}